
<nav class="navbar navbar-dark bg-dark">
    <div class="row">
      <div class="col-5 col-md-4 headerSection">.col-6 .col-md-4</div>
      <div class="col-6 col-md-5 headerSection">
        <div class="balance">
          <p class="toman"> تومان </p>
          <p class="balanceNum"> 1000 </p>
          <p class="balanceTxt"> : موجودی</p>
        </div>
      </div>
      <div class="col-1 headerSection">
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-users-cog"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Dropdown link</a>
            <a class="dropdown-item" href="#">Dropdown link</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
 