<div class="review">
  <mat-card>
    <div class="cardTitle">
      <p class="title">{{requestDetail.employer}}</p>
      <p class="discribe">{{requestDetail.reqType}}</p>
    </div>
    <div class="cardBody">
      <p class="title">
        جزئیات درخواست {{requestDetail.reqType}} {{requestDetail.employer}}
      </p>
      <p class="discribe">
        {{requestDetail.detailText}}
       </p>
    </div>
    <div class="cardFooter">
      <button type="button" class="btn btn-primary" (click)='accept()'>قبول</button>
      <button type="button" class="btn btn-secondary" (click)='declinedReq.emit("declinedReq")'>بازگشت</button>
    </div>
  </mat-card>

</div>