<div class="req-container ">
  <div  *ngFor='let req of reqList' class="req row">
    <div class=" req-col">
      <button type="button" (click)='reqSelected.emit("requestSelected"); choseReq(req.reqID)' class="btn btn-outline-dark moreBtn">
        <i class="fas fa-angle-double-down"></i>
      </button>
      <div class="times">
        <p style="border-bottom:1px solid;">مدت :{{req.duration}} دقیقه</p>
        <p>مراحل : {{req.steps}} مرحله</p>
      </div>
    </div>
    <div class=" req-col price-col">
      <p> قیمت : {{req.price}} تومان</p>
    </div>
    <div class=" req-col">
      <p class="companyName">{{req.employer}}</p>
      <img class="mini-logo" src="./../../../assets/img/googleg_standard_color_128dp.png" alt="">
    </div>
  </div>