<div class="req-container ">
  <div class="req row">
    <div class=" req-col">
      <button type="button" (click)='reqSelected.emit(requestSelected)' class="btn btn-outline-dark">
        <i class="fas fa-angle-double-down"></i>
      </button>
      <div class="times">
        <p style="border-bottom:1px solid;">مدت : 10 دقیقه</p>
        <p>مراحل : 12 مرحله</p>
      </div>
    </div>
    <div class=" req-col price-col">
      <p> قیمت : 5000 تومان</p>
    </div>
    <div class=" req-col">
      <p class="companyName"> شرکت گوگل</p>
      <img class="mini-logo" src="./../../../assets/img/googleg_standard_color_128dp.png" alt="">
    </div>
  </div>



  <!-- delete after connected to API  -->
  <div class="req row">
    <div class=" req-col">
      <button type="button" class="btn btn-outline-dark">
        <i class="fas fa-angle-double-down"></i>
      </button>
      <div class="times">
        <p style="border-bottom:1px solid;">مدت : 5 دقیقه</p>
        <p>مراحل : 5 مرحله</p>
      </div>
    </div>
    <div class=" req-col price-col">
      <p> قیمت : 8000 تومان</p>
    </div>
    <div class=" req-col">
      <p class="companyName">  فیسبوک </p>
      <img class="mini-logo" src="./../../../assets/img/facebook-2661207_960_720.jpg" alt="">
    </div>
  </div>


  <div class="req row">
    <div class=" req-col">
      <button type="button" class="btn btn-outline-dark">
        <i class="fas fa-angle-double-down"></i>
      </button>
      <div class="times">
        <p style="border-bottom:1px solid;">مدت : 15 دقیقه</p>
        <p>مراحل : 10 مرحله</p>
      </div>
    </div>
    <div class=" req-col price-col">
      <p> قیمت : 10000 تومان</p>
    </div>
    <div class=" req-col">
      <p class="companyName">  اینستاگرام</p>
      <img class="mini-logo" src="./../../../assets/img/images.jpg" alt="">
    </div>
  </div>
</div>
<!--  -->