<div class="review">
  <mat-card>
    <div class="cardTitle">
      <p class="title">{{requestDetail?.employer}}</p>
      <p class="discribe">{{requestDetail?.reqType}}</p>
    </div>
    <div class="cardBody">
      <p class="title">
        تایید صلاحیت برای شروع تست
      </p>
      <p class="discribe">
      {{questionData?.text}}
      </p>
        <div class="options">
          <!-- <form [formGroup]='qualificationForm'>
          <mat-radio-group formControlName='options' aria-label="Select an option" dir="rtl"  [(ngModel)]="selectedQuestion">
            <mat-radio-button *ngFor='let option of questionOptions | keyvalue' value="{{option.key}}">{{option.value}}</mat-radio-button>
          </mat-radio-group>
        </form> -->
        </div>
    </div>
    <div class="cardFooter">
      <button type="button" class="btn btn-primary" id="acceptQual" (click)='openRecorder()'>قبول</button>
      <button type="button" class="btn btn-secondary" (click)='declinedQual.emit("declinedReq")'>بازگشت</button>
    </div>
  </mat-card>

</div>