.mat-card {
    box-shadow: 0 5px 1px -1px rgba(0,0,0,.2), 0 7px 1px 0 rgba(0,0,0,.14), 0 10px 3px 0 rgba(0,0,0,.12);
    background-color: #eaeaea;
}
.review{
    margin: 5% 7%;
    width: 400px;
}
.cardTitle{
    border-bottom: 1px solid #b3b3b3;
    padding: 0px 0 6px 0;
}
.cardTitle p{
    margin: 0;
    text-align: center;
}
.cardTitle .title{
    font-weight: bold;
    font-size: 20px;
    color: cornflowerblue;
}
.cardTitle .discribe{
    font-size: 13px;
}
.cardBody{
    text-align: right;
    font-size: 16px;
    line-height: 26px;
}
.cardBody .title{
    margin-top: 12px;
    font-size: 16px;
    font-weight: 600;
}
.cardFooter button{
    margin: 9px 9px;
    font-size: 14px;
}
mat-radio-button{
    display: block
}
.failTitle{
    text-align: center;
    color: red;
    padding: 12px 0;
    font-size: 17px;
}
.failText{
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    opacity: 0 !important;     /*click effect color change*/
    background-color: #6495ed !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #6495ed!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color:#6495ed!important; /*outer ring color change*/
}