<div class="review">
    <mat-card>
      <div class="cardTitle">
        <p class="title">شرکت گوگل</p>
        <p class="discribe">بررسی وب سایت</p>
      </div>
      <div class="cardBody">
        <p class="title">
        تایید صلاحیت برای شروع تست
         </p>
        <p class="discribe">
          
        </p>
      </div>
      <div class="cardFooter">
        <button type="button" class="btn btn-primary" (click)='acceptReq.emit("accepted")'>قبول</button>
        <button type="button" class="btn btn-secondary" (click)='declinedReq.emit("declinedReq")'>بازگشت</button>
      </div>
    </mat-card>
  
  </div>