<div class="container-fluid">
  <div class="row">
    <div class="col-2 recCtrl" (click)="Rec()">
        <i class="fas fa-video" ></i>
    </div>
    <div class="col-2 recCtrl">
        <i class="far fa-stop-circle"></i>
    </div>
    <div class="col-2 recCtrl">
        <i class="far fa-play-circle"></i>
    </div>
    <div class="col-5 float-right">
      <button mat-raised-button class="steps" (click)="openSteps()">
          <i *ngIf='!isStepsOpen' class="fas fa-angle-double-down"></i>
          <i *ngIf='isStepsOpen' class="fas fa-angle-double-up"></i>
          مراحل
        </button>

    </div>
  </div>
</div>